/* https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	line-height: calc(1em + 0.5rem);
	transition: background-color 250ms, border-color 250ms;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

html,
body {
	height: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	color: var(--text);
	background-color: var(--bg);
	font-size: 16px;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

input,
button,
textarea {
	font: inherit;
}
p,
h1,
h2,
span {
	overflow-wrap: break-word;
	word-break: break-word;
}

:root {
	--padding: 15px;
	--header-height: 80px;
	--text-codes: 55, 53, 47;
	--text: rgba(var(--text-codes), 1);
	--accent: #ff91af;
	--bg: #ffffff;
	--bg2: #fbfbfa;
	--bg3: #f1f1f0;
}

html[data-theme="dark"] {
	--text-codes: 255, 255, 255;
	--text: rgba(var(--text-codes), 0.87);
	--accent: #ff91af;
	--bg: #242424;
	--bg2: #1a1a1a;
	--bg3: #3b3b3b;
}

:root {
	font-family: Inter, Roboto, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	color-scheme: light dark;
}

button,
input,
textarea {
	border-radius: calc(var(--padding) * 2 / 3);
	border: 2px solid var(--bg3);
	padding: 0.6em 1em;
	font-weight: 500;
	color: var(--text);
	background-color: var(--bg2);
	cursor: pointer;
}

button:focus,
button:focus-visible,
button:hover,
textarea:focus,
textarea:focus-visible,
textarea:hover,
input:focus,
input:focus-visible,
input:hover {
	outline: none;
	border-color: var(--accent);
}

.icon-button {
	padding: 0px;
	font-size: 1.2rem;
	border: none;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--bg2);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--bg3);
	border-radius: 5px;
}
