/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	transition: background-color 250ms, border-color 250ms;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

html,
body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	color: var(--text);
	background-color: var(--bg);
	font-size: 16px;
}

input,
button,
textarea {
	font: inherit;
}

:root {
	--padding: 16px;
	--text-codes: 55, 53, 47;
	--text: rgba(var(--text-codes), 1);
	--accent: rgb(85, 81, 255);
	--bg: #ffffff;
	--bg2: #fbfbfa;
	--bg3: #f1f1f0;
}

html.dark {
	--text-codes: 255, 255, 255;
	--text: rgba(var(--text-codes), 0.87);
	--bg: #242424;
	--bg2: #1a1a1a;
	--bg3: #3b3b3b;
}

:root {
	font-family: Inter, Roboto, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	color-scheme: light dark;
}

button,
input {
	border-radius: calc(var(--padding) * 3 / 4);
	border: 2px solid var(--bg3);
	padding: 0.6em 1em;
	font-weight: 500;
	color: var(--text);
	background-color: var(--bg2);
	cursor: pointer;
}

.icon-button {
	padding: 0;
	font-size: 1.2rem;
	border: none;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: var(--bg);
}

::-webkit-scrollbar-thumb {
	background: var(--bg3);
	border-radius: 5px;
}

[contenteditable]:focus {
	outline: none;
}
